body {
    background-color: beige;
}

/* 注释开发者标色 */
span.red {
    color:
        coral
}

blockquote {
    text-align: center;
}

/* 页顶链接 */
#Top_Href {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    border-radius: 10px;
    list-style-type: none;
    background-color: #333;
}

#Top_Href li {
    float: left;
}

#Top_Href li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
#Top_Href li a:hover{
    background-color: #C9C9C9;
}

/* 分类网格表 */
.Grid {
    top: 1000px;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
    clear: both;
}

/* 分类网格 */
.Grid-item {
    border-radius: 10px;
    border: 2px solid #555555;
}

/* 表格中的大标题 */
.title {
    text-align: center;
}

#Developer_Community {
    text-align: center;
}
#Developer_Community ul{
    list-style-type: none;
    overflow: hidden;
    border-radius: 10px;
    background-color: #333;
}
#Developer_Community ul li{
    float:left;
}
#Developer_Community ul li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
#Developer_Community ul li a:hover{
    background-color: #C9C9C9;
}

/* 未被访问的链接 */
a:link {
    color: blue;
}

/* 已被访问的链接 */
a:visited {
    color: blue;
}

/* 将鼠标悬停于链接上 */
a:hover {
    color: aqua;
}

/* 被点击的链接 */
a:active {
    color: cadetblue;
}
